body{
    background-color:grey;
    margin: 0;

}

.main{
    width: 600px;
    margin: 150px 150px;
    background-color: white;
    padding: 20px 100px 50px;
}

.formula{
    border: 2px black solid;
    text-align: center;
}